{% extends "base.html" %}
{% block content %}

<h1>Finance Dashboard</h1>

{% if alert %}
<div class="alert">
⚠️ Budget usage exceeded 80%!
</div>
{% endif %}

<div class="cards">
    <div class="card green">
        <h3>Total Income</h3>
        <h2>₹ {{ income }}</h2>
    </div>

    <div class="card red">
        <h3>Total Expense</h3>
        <h2>₹ {{ expense }}</h2>
    </div>

    <div class="card blue">
        <h3>Net Savings</h3>
        <h2>₹ {{ savings }}</h2>
    </div>
</div>

<h3>Add Transaction</h3>
<form method="POST" class="form-box">
    <select name="type">
        <option>Income</option>
        <option>Expense</option>
    </select>

    <input type="text" name="category" placeholder="Category" required>
    <input type="number" name="amount" placeholder="Amount" required>
    <input type="date" name="date" required>

    <label>
        <input type="checkbox" name="recurring">
        Recurring
    </label>

    <button>Add</button>
</form>

<h3>Transaction History</h3>
<table>
<tr>
<th>Type</th>
<th>Category</th>
<th>Amount</th>
<th>Date</th>
</tr>

{% for t in transactions %}
<tr>
<td>{{ t[2] }}</td>
<td>{{ t[3] }}</td>
<td>₹ {{ t[4] }}</td>
<td>{{ t[5] }}</td>
</tr>
{% endfor %}

</table>

<canvas id="pieChart"></canvas>

<script>
let income = {{ income }};
let expense = {{ expense }};

new Chart(document.getElementById("pieChart"),{
    type:'pie',
    data:{
        labels:['Income','Expense'],
        datasets:[{
            data:[income,expense],
            backgroundColor:['#22c55e','#ef4444']
        }]
    }
});
</script>

{% endblock %}
